$menu-background: #1a361a;
$menu-hover-background: #2a4b2a;

$select-color: #fff;
$select-background: #1a361a;
$select-border: #1f5734;

$title-color: #86efac;

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: rgba(#fff, 0.7);
  margin: 0;
  overflow: hidden;

  /* The base color of the soccer pitch, a deep emerald green */
  background-color: #1a361a;

  /* Create subtle vertical stripes using a linear gradient */
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.05) 50%,
    transparent 50%
  );

  /* Make the stripes repeat across the screen */
  background-size: 50px 100%; /* Adjust the first value to change the stripe width */
}

.screen {
  display: none;
  padding: 1em;
}
.screen.active {
  display: block;
}

h1 {
  font-size: 8vmin;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.1;
  margin: 0;
}
h1 span {
  color: #f7b700; /* Yellow from image */
}

// Generic nav
nav {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
nav button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-decoration: none;
}

#menu {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $menu-background;
  width: 100%;
}

#menu nav button {
  padding: 0.75rem 1rem;
  border-left: 1px solid rgba(#fff, 0.2);

  &:last-child {
    border-right: 1px solid rgba(#fff, 0.2);
  }

  &:hover {
    background: $menu-hover-background;
    text-decoration: underline;
  }

  &.active {
    background: $menu-hover-background;
  }
}

.intro {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 15vh 0;
  flex-direction: column;
  justify-content: space-between; /* Pushes title to top, nav to bottom */
  align-items: center;
}
.intro.active {
  display: flex;
}
.intro nav {
  flex-direction: column;
  font-size: 3.5vmin;
  gap: 1em;
}
.intro nav button:hover {
  color: #f7b700;
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  align-items: center;
}
.intro.active ~ main {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

h2 {
  color: $title-color;
  margin: 0;
}

table, th, td {
  border: 1px dashed rgba(#fff, 0.2);
  border-width: 1px 0;
  border-collapse: collapse;
}
th, td {
  padding: 0.25em 0.75em;
}
.bold {
  color: #fff;
}
tr.bold {
  background: rgba(#fff, 0.1)
}
tr.over {
  color: #fff;

  td {
    filter: blur(1px);
  }
}
tr.gk {
  background: rgba(#f0f, 0.1)
}
tr.df {
  background: rgba(#00f, 0.1)
}
tr.md {
  background: rgba(#ff0, 0.1)
}
tr.at {
  background: rgba(#f00, 0.1)
}
tr.re {
  font-style: italic;
  color: rgba(#fff, 0.5);
}

select {
  margin: 0;
  color: $select-color;
  background: $select-background;
  border: 1px solid $select-border;
  font-size: 110%;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
}
label:has(+ select) {
  font-weight: bold;
  margin-right: 0.5rem;
}

.hidden {
  visibility: hidden;
}
