@use "sass:math";

$menu-background: #1a361a;
$menu-hover-background: #2a4b2a;

$select-color: #fff;
$select-background: #1a361a;
$select-border: #1f5734;

$table-header: #2a4b2a;
$table-header-color: #86efac;
$table-cell-bg: #1a361a;

$title-color: #86efac;

$goalkepper-bg: #303;
$defense-bg: #003;
$midfield-bg: #330;
$attack-bg: #300;

$button-radius: 1.25rem;
$button-background: #16a34a;

$field-bg: #2f7147;
$field-circle-pct-width: 28%;
$field-line-color: rgba(#fff, 0.7);

$progress-bar-border: #16a34a;

$match-events-home-color: lighten(#16a34a, 51);

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: rgba(#fff, 0.7);
  margin: 0;
  overflow: hidden;

  /* The base color of the soccer pitch, a deep emerald green */
  background-color: #1a361a;

  /* Create subtle vertical stripes using a linear gradient */
  background-image: linear-gradient(
    90deg,
    rgba(#000, 0.05) 50%,
    transparent 50%
  );

  /* Make the stripes repeat across the screen */
  background-size: 50px 100%; /* Adjust the first value to change the stripe width */
}

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.1;
  margin: 0;
  position: relative;
  z-index: 2;
}
h1 span {
  color: #f7b700; /* Yellow from image */
}

@media screen and (max-width: 639px) {
  h1 {
    font-size: 2.5rem;
  }
}

// Generic nav
nav {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
nav button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-decoration: none;
}

#menu {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $menu-background;
  width: 100%;
}

#menu nav button {
  padding: 0.75rem 1rem;
  border-left: 1px solid rgba(#fff, 0.2);

  &:last-child {
    border-right: 1px solid rgba(#fff, 0.2);
  }

  &:hover {
    background: $menu-hover-background;
    text-decoration: underline;
  }

  &.active {
    background: $menu-hover-background;
  }
}

.intro {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around; /* Pushes title to top, nav to bottom */
  align-items: center;

  p {
    font-size: 0.8em;
    margin: 0;
    max-width: 400px;
  }

  div {
    backdrop-filter: brightness(200%);
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  svg {
    position: absolute;
    left: 20px;
    top: -160px;
  }

  button {
    background: $button-background;
    font-size: 1.2rem;
  }
}
.screen.intro.active {
  display: flex;
}

main {
  height: 100%;
  overflow: auto;
}

.screen {
  display: none;
  padding: 1em;
  max-width: 640px;
  margin: 0 auto;
}
.screen.active {
  display: block;
}

.intro.active ~ main, .hide {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem 2rem;
  flex-wrap: wrap;
  white-space: nowrap; // avoid breaking on mobile
}

h2 {
  color: $title-color;
  line-height: 2;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.75rem;
  overflow: hidden;
}
tr {
  --td-bg: #{$table-cell-bg};
}
td {
  border-bottom: 1px solid hsla(from var(--td-bg) h s calc(l + 5));
  background: var(--td-bg);
}
.r {
  text-align: right;
}
.c { // center align
  text-align: center;
}
th.cll, td.cll { // collapsed
  width: 1%;
  white-space: nowrap;
}
td.fif { // 50%
  width: 50%;
}
tr:last-child td {
  border-bottom: 0;
}
th {
  background: $table-header;
  color: $table-header-color;
}
th, td {
  padding: 0.75em 0.5em;
  text-align: left;
}
.bold {
  color: #fff;
}
// goalkepper
tr.gk {
  --td-bg: #{$goalkepper-bg};
}
// defense
tr.df {
  --td-bg: #{$defense-bg};
}
// midfield 
tr.md {
  --td-bg: #{$midfield-bg};
}
// attack
tr.at {
  --td-bg: #{$attack-bg};
}
// substitute
tr.sub {
  font-style: italic;
}
tr.bold td {
  background: hsl(from var(--td-bg) h s calc(l + 15))
}
tr[data-swap] {
  &:hover td {
    cursor: pointer;
    background: hsl(from var(--td-bg) h s calc(l + 15));
  }

  // selected
  &.slcd {
    position: relative;

    &:after {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(#fff, 0.3);
      color: black;
      width: 100%;
      height: 100%;
      animation: blink-color 0.4s infinite;
    }
  }

}

@keyframes blink-color {
  0% {
    background-color: rgba(#fff, 0.3);
  }
  50% {
    background-color: rgba(#fff, 0.0);
  }
  100% {
    background-color: rgba(#fff, 0.3);
  }
}

select {
  margin: 0;
  color: $select-color;
  background: $select-background;
  border: 1px solid $select-border;
  font-size: 110%;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
}

label:has(+ select) {
  font-weight: bold;
  margin-right: 0.5rem;
}

.hidden {
  visibility: hidden;
}

.tshirt {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: -3px 0;
  -webkit-clip-path: url(#tshirt-clip);
  clip-path: url(#tshirt-clip);
  background-size: cover;

  &.v { // vertical
    background: repeating-linear-gradient(to right, var(--color1), var(--color1) 3px, var(--color2) 3px, var(--color2) 6px);
  }

  &.h { // horizontal
    background: repeating-linear-gradient(to bottom, var(--color1), var(--color1) 3px, var(--color2) 3px, var(--color2) 6px);
  }

  &.m { // medirian (two horizontal stripes)
    background: repeating-linear-gradient(to bottom, var(--color1), var(--color1) 16px, var(--color2) 16px, var(--color2) 28px);
  }

  &.p { // parallel (two vertical stripes)
    background: repeating-linear-gradient(to right, var(--color1), var(--color1) 14px, var(--color2) 14px, var(--color2) 28px);
  }

  &.c { // checkered
    background-image: linear-gradient(45deg, var(--color1) 25%, transparent 25%), linear-gradient(-45deg, var(--color1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--color1) 75%), linear-gradient(-45deg, transparent 75%, var(--color1) 75%);
    background-size: 6px 6px;
    background-color: var(--color2);
  }
}

.fea { // featured
  color: #fff;
  white-space: nowrap;
}

.name,  {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  white-space: nowrap;
}

.pos {
  display: inline-block;
  padding: 0.25em 0;
  width: 3em;
  font-size: 90%;
  border-radius: 1em;
  text-transform: uppercase;
  text-align: center;
  backdrop-filter: brightness(200%);
}

// next match
.nm {
  background: $table-cell-bg;
  border-radius: 1rem;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.nm, .nm > div div, .nm > div > span {
  display: flex;
  flex-direction: column;
}
.nm > div:first-child {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  white-space: nowrap;
  gap: 1rem;
  align-items: center;

  div:first-child {
    align-items: flex-end;
  }
  span {
    flex-direction: row;
  }

  span {
    gap: 1rem;
    align-items: center;
  }

  i {
    transform: scale(1.5);
    margin: 1rem 0;
  }

  b {
    color: #fff;
  }
}

.btn {
  border: 0;
  color: #fff;
  font-weight: bold;
  border-radius: $button-radius;
  padding: 0.5rem 1rem;
  background: $button-background;

  &:not(:disabled):hover {
    cursor: pointer;
    outline: 3px solid $button-background;
  }

  &:disabled {
    background: #666;
  }

  &.ld {
    background: #333;
  }

}

// live game
.lg {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: auto min-content 1fr;
  gap: 1rem;
}
// live game header
.lgh {
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content 1fr;
  gap: 1rem;
  align-items: center;
  background: $menu-background;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  grid-column: span 3;

  // team
  .t {
    text-align: left;
    color: #fff;
    background: none;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
  }
  .t:first-child {
    text-align: right;
  }
  .t:hover span {
    text-decoration: underline;
  }
  .t.a .name {
    position: relative;
  }
  .t.a .name:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; /* Transparent left border */
    border-right: 5px solid transparent; /* Transparent right border */
    border-bottom: 10px solid #fff; /* Visible bottom border forms the base */
  }
}
// live game formation wrapper
.lgfw {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
// live game formation
.lgf {
  background: $field-bg;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.75rem;

  b {
    padding: 0.5rem;
  }

  &.rev, &.rev > div {
    flex-direction: column-reverse;
  }

  & > div {
    border: 1px solid $field-line-color;
    height: 100%;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid $field-line-color;
      width: $field-circle-pct-width;
      aspect-ratio: 1 / 1;
      margin: math.div(-1 * $field-circle-pct-width, 2) 0 0 math.div(-1 * $field-circle-pct-width, 2);
      border-radius: 50%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      border-top: 1px solid $field-line-color;
      width: 100%;
    }
  }
}
// formation
.fmt {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
  min-height: 6.5rem;

  button {
    position: relative;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 0;
    box-shadow: 2px 2px 5px rgba(#000, 0.5);
    --lt: 15;
    --bgc: hsl(from var(--bg) h s calc(l + var(--lt)));
    background: var(--bgc);
    --p: 0;

    &:not(:disabled):hover {
      cursor: pointer;
      --lt: 25;
      outline: 3px solid var(--bgc);
    }

    &.df {
      --bg: #{$defense-bg};
    }

    &.md {
      --bg: #{$midfield-bg};
    }

    &.at {
      --bg: #{$attack-bg};
    }

    // disabled
    &.ds {
      --bg: #222;
    }

    // loading
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      background: conic-gradient(rgba(#fff, 0.4) calc(var(--p) * 1%), transparent 0);
    }
  }

  span {
    flex-basis: 100%;
    height: 0;
  }
}

// live game progress
.lgp {
  min-height: 300px;
  position: relative;
  --pct: 50%;
  --c1: #fff;
  --c2: #000;
  background: var(--c2);
  border-radius: 0.25rem;
  outline: 1px solid $progress-bar-border;
  grid-row: span 2;

  > div {
    position: relative;
    font-size: 1.25rem;
    transition: height 0.25s ease-in-out;
    background: var(--c1);
    height: var(--pct);
    border-radius: 0.25rem;

    span {
      position: absolute;
      bottom: -0.75rem;
      left: -0.375rem;
      color: #fff;;
    }
  }
}

// live game strategy
#lgst {
  backdrop-filter: brightness(140%);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
}
// live game strategy action
#lgst-a {
  --p: 100;
  position: relative;

  // loading
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $button-radius;
    background: linear-gradient(to right, rgba(#fff, 0.4) calc(var(--p) * 1%), transparent 0);
  }
}
// live game strategy button
.lgst-b {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.75rem;

  button {
    display: flex;
    gap: 0.5rem;
  }

  span {
    backdrop-filter: brightness(80%);
    color: #eee;
    padding: 0.125rem 0.25rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
  }
}

// live game sidebar
.lgs {
  backdrop-filter: brightness(140%);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  overflow: auto;
  contain: size;

  // live-game-sidebar messages
  #lgs-ms {
    padding: 1rem 0;
    margin: 0;
    gap: 0.25rem 0;
    display: flex;
    flex-direction: column-reverse;

    & > div {
      display: grid;
      grid-template-columns: min-content 1fr;
      gap: 0 0.5rem;
      align-items: first baseline;
    }
  }
  // time
  .tm {
    background: rgba(#fff, 0.2);
    border-radius: 0.25rem;
    padding: 0.25rem;
    text-align: center;
  }
  // home
  .hm {
    color: $match-events-home-color;
  }
}

@media screen and (max-width: 639px) {
  .lg {
    grid-template-columns: 1fr 10px;
  }
  .lgh {
    grid-column: span 2;
  }
  .lgs {
    grid-column: span 2;
    contain: none;
  }
  #lgst {
    grid-column: span 2;
  }
}

// score wrapper
.score-w {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2.5rem;

  strong {
    font-size: 1.25rem;
    line-height: 1;
    white-space: nowrap;
    padding: 0 0.25rem;
  }

  span {
    font-size: 0.8rem;
    line-height: 1;
    color: $title-color;
  }
}

// screen reader only
@media screen and (max-width: 639px) {
  .sr {
    display: none;
  }
}
