html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
}

.screen {
  display: none;
}
.screen.active {
  display: block;
}

h1 {
  font-size: 8vmin;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.1;
  margin: 0;
}
h1 span {
  color: #f7b700; /* Yellow from image */
}

nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  font-size: 1.5rem;
}
nav button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-decoration: none;
}
nav button:hover {
  color: #f7b700;
  text-decoration: underline;
}

#menu {
  position: sticky;
  top: 0;
  left: 0;
  background: #081408;
}

#footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background: #081408;
  padding: 0.5em;
}

.intro {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 15vh 0;
  flex-direction: column;
  justify-content: space-between; /* Pushes title to top, nav to bottom */
  align-items: center;
}
.intro.active {
  display: flex;
}
.intro nav {
  flex-direction: column;
  font-size: 3.5vmin;
}

main {
  display: flex;
  flex-direction: column;
}
.intro.active ~ main {
  display: none;
}
main nav button.active {
  color: red;
}
