html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  overflow: hidden;

  /* The base color of the soccer pitch, a deep emerald green */
  background-color: #1a361a;

  /* Create subtle vertical stripes using a linear gradient */
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.05) 50%,
    transparent 50%
  );

  /* Make the stripes repeat across the screen */
  background-size: 50px 100%; /* Adjust the first value to change the stripe width */
}

.screen {
  display: none;
  padding: 1em;
}
.screen.active {
  display: block;
}

h1 {
  font-size: 8vmin;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.1;
  margin: 0;
}
h1 span {
  color: #f7b700; /* Yellow from image */
}

nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 1.5rem;
}
nav button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-decoration: none;
}
nav button:hover {
  color: #f7b700;
  text-decoration: underline;
}

#menu {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  gap: 1em;
  padding: 1em;
  align-items: center;
  background-color: #1a361a;
  width: calc(100% - 2em);
}
#menu nav {
  flex: 1;
}

.intro {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 15vh 0;
  flex-direction: column;
  justify-content: space-between; /* Pushes title to top, nav to bottom */
  align-items: center;
}
.intro.active {
  display: flex;
}
.intro nav {
  flex-direction: column;
  font-size: 3.5vmin;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  align-items: center;
}
.intro.active ~ main {
  display: none;
}
main nav button.active {
  color: red;
}

table, th, td {
  border: 1px dashed rgba(#fff, 0.2);
  border-width: 1px 0;
  border-collapse: collapse;
}
th, td {
  padding: 0.25em 0.75em;
}
tr.bold {
  font-weight: bold;
  background: rgba(#fff, 0.1)
}
tr.gk {
  font-weight: bold;
  background: rgba(#f0f, 0.1)
}
tr.df {
  background: rgba(#00f, 0.1)
}
tr.md {
  background: rgba(#ff0, 0.1)
}
tr.at {
  background: rgba(#f00, 0.1)
}
tr.re {
  font-style: italic;
  color: rgba(#fff, 0.5);
}

select {
  margin: 0 0 1em 0;
}
